In [11]:
import sys
sys.path.append('../../')
import os

import pandas as pd
from utils import fill_empty, VColumns
from dotenv import load_dotenv
load_dotenv()

%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

# Load input file

In [12]:
df1 = pd.read_csv("v1-start.csv")
df1.head()

,name,winery,vintage,size,qty,purchase_price,internal_notes,internal_notes_2
0,ROSSO RISERVA,BORGO DEL TIGLIO,1999.0,BOTTLE,6.0,NaN,NaN,NaN
1,ROSSO DELLA CENTA,BORGO DEL TIGLIO,2001.0,BOTTLE,1.0,NaN,NaN,NaN
2,SAUVIGNON,BORGO DEL TIGLIO,2009.0,BOTTLE,2.0,NaN,NaN,NaN
3,VERDUZZO,BORGO DEL TIGLIO,1998.0,BOTTLE,5.0,NaN,NaN,NaN
4,MALVASIA,BORGO DEL TIGLIO,2022.0,BOTTLE,4.0,NaN,NaN,NaN

# Start elaborating columns

Create a new dataframe with empty values, so that we can start filling in values from the input dataframe, without overriding columns.

In [13]:
df1.head()

,name,winery,vintage,size,qty,purchase_price,internal_notes,internal_notes_2
0,ROSSO RISERVA,BORGO DEL TIGLIO,1999.0,BOTTLE,6.0,NaN,NaN,NaN
1,ROSSO DELLA CENTA,BORGO DEL TIGLIO,2001.0,BOTTLE,1.0,NaN,NaN,NaN
2,SAUVIGNON,BORGO DEL TIGLIO,2009.0,BOTTLE,2.0,NaN,NaN,NaN
3,VERDUZZO,BORGO DEL TIGLIO,1998.0,BOTTLE,5.0,NaN,NaN,NaN
4,MALVASIA,BORGO DEL TIGLIO,2022.0,BOTTLE,4.0,NaN,NaN,NaN

In [14]:
# create new empty dataframe
df = pd.DataFrame(columns=VColumns.v2())
df.head()

Empty DataFrame
Columns: [external_id, type, name, winery_name, info, size, vintage, price, purchase_price, quantity, storage_area, internal_notes, visible]
Index: []

In [15]:
# copy values from original columns to new columns
df['name'] = df1['name']

# remove content within brackets
df['winery_name'] = df1['winery'].apply(lambda x: x.split("(")[0].strip())

df["vintage"] = df1["vintage"]
df["quantity"] = df1["qty"]
df["size"] = df1["size"]
df["storage_area"] = "Cantinetta"

# append another columns value
df["internal_notes"] = df1['internal_notes'].fillna("") + " " + df1['internal_notes_2'].fillna("")
df["visible"] = True

df.tail()

AttributeError: 'float' object has no attribute 'split'

In [ ]:
# size
df['size'] = df1["size"].fillna("BOTTLE")

# convert prices to cents
df['price'] = 0
df['purchase_price'] = df1['purchase_price'].apply(lambda x: int(x*100) if not pd.isnull(x) else 0) # convert to cents

df.tail()

,external_id,type,name,winery_name,info,size,vintage,price,purchase_price,quantity,storage_area,internal_notes,visible
180,NaN,NaN,RICHEBOURG GRAND CRU,DOMAINE JEAN GRIVOT,NaN,BOTTLE,2004,0,0,2,Cantinetta,,True
181,NaN,NaN,CHAMBERTIN GRAND CRU,DOMAINE TRAPES,NaN,BOTTLE,2006,0,0,2,Cantinetta,,True
182,NaN,NaN,LATRICIERES CHAMBERTIN GRAND CRU,DOMAINE TRAPES,NaN,BOTTLE,2006,0,0,2,Cantinetta,,True
183,NaN,NaN,GEVREY CHAMBERTIN 1CRU,DOMAINE TRAPES,NaN,BOTTLE,2006,0,0,2,Cantinetta,,True
184,NaN,NaN,POMEROL,CHATEAU GAZIN,NaN,BOTTLE,2019,0,10200,2,Cantinetta,Pagata io 102€,True

In [ ]:
df = fill_empty(df, VColumns.v2())
df.tail()

,external_id,type,name,winery_name,info,size,vintage,price,purchase_price,quantity,storage_area,internal_notes,visible
180,,,RICHEBOURG GRAND CRU,DOMAINE JEAN GRIVOT,,BOTTLE,2004,0,0,2,Cantinetta,,True
181,,,CHAMBERTIN GRAND CRU,DOMAINE TRAPES,,BOTTLE,2006,0,0,2,Cantinetta,,True
182,,,LATRICIERES CHAMBERTIN GRAND CRU,DOMAINE TRAPES,,BOTTLE,2006,0,0,2,Cantinetta,,True
183,,,GEVREY CHAMBERTIN 1CRU,DOMAINE TRAPES,,BOTTLE,2006,0,0,2,Cantinetta,,True
184,,,POMEROL,CHATEAU GAZIN,,BOTTLE,2019,0,10200,2,Cantinetta,Pagata io 102€,True

# Merge files and write output

If there are multiple files, merge them into one and create single output file.

In [ ]:
df.head()

df_out = pd.concat([df], ignore_index=True)
df_out.to_csv("v2-cleaned.csv", index=False)

bool()

False