In [2]:
import sys
sys.path.append('../../')
import os

import pandas as pd
from utils import fill_empty, VColumns
from dotenv import load_dotenv
load_dotenv()

%load_ext autoreload
%autoreload 2

# Load input file

In [10]:
df = pd.read_csv("v5-insert-final.csv")
df.head()

,wine_id,external_id,size,vintage,price,purchase_price,info,storage_area,quantity,internal_notes,visible
0,wine_01h0f3cmbtcrj6dy2n3hdvwpne,10,BOTTLE,2019,7900,2450,NaN,10,3,Glas Preis: 13.0,True
1,wine_01h0qzm1m6h26prmraqbdja49j,100,BOTTLE,2021,3900,969,NaN,100,1,Glas Preis: 6.0,True
2,wine_01h0qzm1m6h26prmraqbdja49j,100,BOTTLE,2023,3900,969,NaN,100,2,Glas Preis: 6.0,False
3,wine_01gzr4ktvv996ctebcg07w2w3t,1000,BOTTLE,2016,11000,3990,NaN,1000,2,Glas Preis: 18.0300m.ü.M. Gärung; Mazeration a...,True
4,wine_01gzr4ktvv996ctebcg07w2w3t,1000,BOTTLE,2018,11000,3990,NaN,1000,1,Glas Preis: 18.0300m.ü.M. Gärung; Mazeration a...,False

In [11]:
# fill to 4 digits
df["external_id"] = df["external_id"].apply(lambda x: str(x).zfill(4))

df.head()

,wine_id,external_id,size,vintage,price,purchase_price,info,storage_area,quantity,internal_notes,visible
0,wine_01h0f3cmbtcrj6dy2n3hdvwpne,0010,BOTTLE,2019,7900,2450,NaN,10,3,Glas Preis: 13.0,True
1,wine_01h0qzm1m6h26prmraqbdja49j,0100,BOTTLE,2021,3900,969,NaN,100,1,Glas Preis: 6.0,True
2,wine_01h0qzm1m6h26prmraqbdja49j,0100,BOTTLE,2023,3900,969,NaN,100,2,Glas Preis: 6.0,False
3,wine_01gzr4ktvv996ctebcg07w2w3t,1000,BOTTLE,2016,11000,3990,NaN,1000,2,Glas Preis: 18.0300m.ü.M. Gärung; Mazeration a...,True
4,wine_01gzr4ktvv996ctebcg07w2w3t,1000,BOTTLE,2018,11000,3990,NaN,1000,1,Glas Preis: 18.0300m.ü.M. Gärung; Mazeration a...,False

In [12]:
df.head()

df_out = pd.concat([df], ignore_index=True)
df_out.to_csv("v5-fixed.csv", index=False)