In [2]:
import sys
sys.path.append('../../')
import os

import pandas as pd
from utils import fill_empty, VColumns
from dotenv import load_dotenv
load_dotenv()

%load_ext autoreload
%autoreload 2

# Load input file

In [3]:
df1 = pd.read_csv("v1-start.csv")

# Start elaborating columns

Create a new dataframe with empty values, so that we can start filling in values from the input dataframe, without overriding columns.

In [4]:
# drop lines with empty name1, name2, winery
df1 = df1[df1['winery'].notna() & df1['size'].notna()]

df1.head()

,type,name,winery,info,vintage,size,price,EK
0,SPARKLING,Haderburg Brut,Haderburg,NaN,NaN,0.75,"49,00 €",19.5
1,SPARKLING,Haderburg Pas Dose`,Haderburg,NaN,NaN,0.75,"52,00 €",26.0
2,SPARKLING,Franciacorta Cuvée Brut,Bellavista,NaN,NaN,0.75,"51,00 €",27.5
3,SPARKLING,Franciacorta Satin,Bellavista,NaN,NaN,0.75,"63,00 €",39.9
4,NaN,Prosecco Brut Zero 26° Primo,Andreola,NaN,NaN,0.75,"34,00 €",8.8

In [5]:
# create new empty dataframe
df = pd.DataFrame(columns=VColumns.v2())
df.head()

Empty DataFrame
Columns: [external_id, type, name, winery_name, info, size, vintage, price, purchase_price, quantity, storage_area, internal_notes, visible]
Index: []

In [6]:
# copy values from original columns to new columns
df['external_id'] = None
df['type'] = df1['type']
df['name'] = df1['name']
df['winery_name'] = df1['winery']
df["size"] = df1["size"]
df["vintage"] = df1["vintage"]
df["quantity"] = 50
df["storage_area"] = None
df["info"] = df1["info"]
df["internal_notes"] = None
df["visible"] = True

df.head()

,external_id,type,name,winery_name,info,size,vintage,price,purchase_price,quantity,storage_area,internal_notes,visible
0,NaN,SPARKLING,Haderburg Brut,Haderburg,NaN,0.75,NaN,NaN,NaN,50,None,None,True
1,NaN,SPARKLING,Haderburg Pas Dose`,Haderburg,NaN,0.75,NaN,NaN,NaN,50,None,None,True
2,NaN,SPARKLING,Franciacorta Cuvée Brut,Bellavista,NaN,0.75,NaN,NaN,NaN,50,None,None,True
3,NaN,SPARKLING,Franciacorta Satin,Bellavista,NaN,0.75,NaN,NaN,NaN,50,None,None,True
4,NaN,NaN,Prosecco Brut Zero 26° Primo,Andreola,NaN,0.75,NaN,NaN,NaN,50,None,None,True

In [14]:
df1['price'] = df1['price'].fillna(0)
df['price'] = df1['price'].apply(lambda x: int(float(str(x).replace('€', '').replace(',', '')))) # convert to cents

df1['EK'] = df1['EK'].fillna(0)
df['purchase_price'] = df1['EK'].apply(lambda x: int(float(x*100))) # convert to cents

df.head()

,external_id,type,name,winery_name,info,size,vintage,price,purchase_price,quantity,storage_area,internal_notes,visible,EK
0,NaN,SPARKLING,Haderburg Brut,Haderburg,NaN,0.75,NaN,4900,1950,50,None,None,True,19.5
1,NaN,SPARKLING,Haderburg Pas Dose`,Haderburg,NaN,0.75,NaN,5200,2600,50,None,None,True,26.0
2,NaN,SPARKLING,Franciacorta Cuvée Brut,Bellavista,NaN,0.75,NaN,5100,2750,50,None,None,True,27.5
3,NaN,SPARKLING,Franciacorta Satin,Bellavista,NaN,0.75,NaN,6300,3990,50,None,None,True,39.9
4,NaN,NaN,Prosecco Brut Zero 26° Primo,Andreola,NaN,0.75,NaN,3400,880,50,None,None,True,8.8

In [15]:
df = fill_empty(df, VColumns.v2(), False)
df.head()

,external_id,type,name,winery_name,info,size,vintage,price,purchase_price,quantity,storage_area,internal_notes,visible,EK
0,,SPARKLING,Haderburg Brut,Haderburg,,0.75,0,4900,1950,50,,,True,19.5
1,,SPARKLING,Haderburg Pas Dose`,Haderburg,,0.75,0,5200,2600,50,,,True,26.0
2,,SPARKLING,Franciacorta Cuvée Brut,Bellavista,,0.75,0,5100,2750,50,,,True,27.5
3,,SPARKLING,Franciacorta Satin,Bellavista,,0.75,0,6300,3990,50,,,True,39.9
4,,,Prosecco Brut Zero 26° Primo,Andreola,,0.75,0,3400,880,50,,,True,8.8

# Merge files and write output

If there are multiple files, merge them into one and create single output file.

In [16]:
df.head()

df_out = pd.concat([df], ignore_index=True)
df_out.to_csv("v2-cleaned.csv", index=False)

bool()

False